<div class="container mt-5">
  
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 box"   >
        <div class="image_div"><img src="/assets/images/clock.jpg" style="height: 200px; width: 200px;" ></div>
        <h3 > Anything you want me to remind you ? easy..!!</h3><br><br>
      <h1>Register </h1>
    
      
  
     <form>
      <div class="mb-3 " >
          <input type="text"  placeholder="Enter Name" class="form-control" [(ngModel)]="name" name="name">
         </div>
         <div class="mb-3">
          <input type="text" placeholder="Enter password" class="form-control"  [(ngModel)]="pwd" name="pwd">
          </div>
          
          
          <div class="row">
              <div class="col-4"></div>
              <div class="col-4">
                  <button class="btn  btn-primary" (click)="register()"> &nbsp;&nbsp;Register&nbsp;&nbsp;</button>
                 
              </div>
              <div class="col-4"></div>
          </div>  
        <div class="col-4"></div></form>  
        <br>
       
          </div>
  </div></div>